{% extends "_layout/base.html" %}

{% block content %}
  <div class="container mt-4">
    <div class="card">
      <div class="card-header">Help Page</div>
      <div class="card-body">
        <h5 class="card-title">What is a task manager?</h5>
        <p class="card-text">
          A task manager is a software application that helps you manage your
          tasks and projects. It allows you to create, track, and prioritize
          tasks, set deadlines, and assign tasks to different teams or projects.
        </p>
        <a href="/" class="btn btn-primary">Go Home</a>
      </div>
    </div>
  </div>
{% endblock content %}
